.blog_p {
    font-size: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

.blog {
    text-align: center;
}

img {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px;
  width: 900px;
}


.disclaimer {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 25px;
    color: white;
    background: dimgrey;
}

body > .grid {
      height: 100%;
    }

    .column {
      max-width: 450px;
    }


.linkSeparator hr {
  size: 5px;
}

.form-group {
    padding: 15px;
}