{% extends "base.html" %}

{% block page_name %}About{% endblock %}

{% block content %}
    <div class="blog">
        <h1>About sandwich DB</h1>
        <br>
        <img  src="{{url_for('static', filename="thumbnails/ruben.jpeg")}}">
        <br>
        <div class="blog_p">
            <p>Sandwich DB is the best place for sandwich lovers because it offers a comprehensive and curated collection of
        sandwich recipes, tips, and information all in one convenient location. Whether you’re looking for classic
        comfort foods or innovative new creations, Sandwich DB provides detailed recipes, helpful tips, and even user
        reviews to help you make the perfect sandwich every time. Its easy-to-navigate interface ensures you can quickly
        find exactly what you’re looking for, making it an indispensable resource for anyone who loves sandwiches.</p>
        </div>

    </div>




{% endblock %}